# PlatformIO
.pio/
.clang_d/
.vscode/
.env
.theia/

# Build files
build/
*build*
*.o
*.elf
*.bin
*.hex
*.map
*.d
.json

# OS junk
.DS_Store
Thumbs.db

# Other
.cache/
.history/
_idea/
_old_backups/
_memo/
_code-memo/

## wifiのID等
arduino_secrets.h

# Arduino IDEのバージョン管理フォルダを除外
ArduinoIDE.0612ver/
ArduinoIDE.0615ver/

# Arduino IDEのバージョン管理フォルダを除外
ArduinoIDE.*/

# Platform IOのバージョン管理フォルダを除外
platform IO.ver/

*.png