# PlatformIO
.pio/
.clang_d/
.vscode/
.env

# Build files
build/
*build*
*.o
*.elf
*.bin
*.hex
*.map
*.d

# OS junk
.DS_Store
Thumbs.db

# Other
.cache/
.history/
idea/
old_backups/
memo/

## wifiのID等
arduino_secrets.h
